@use "../../../utils/partialStyles/_pxToRem.scss" as *;

.headerContainer{
    background: var(--primary);
    display: grid;
    height: rem(70);
    grid-template-columns: rem(200) 1fr rem(200);
    align-items: center;
    padding: 0 rem(20);
}

.headerContainer svg{
    max-width: rem(50);
    max-height: rem(50);
}

.headerContainer a{
    font-family: "Inter", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    color: var(--fg);
    cursor: pointer;
}

.headerContainer a:hover{
    color: var(--btn-hover);
    transition: 0.5s;
}

.gridColumn{
    display: flex;
    align-items: center;
    justify-content: center;
}

.paths{
    gap: rem(15);
}

@media (max-width: 700px) {
    .paths{
        display: none;
    }
    .headerContainer{
        display: flex;
        justify-content: space-between;
        gap: rem(15);
    }
}