@use "../../../utils/partialStyles/_pxToRem.scss" as *;

.headerContainer{
    background: var(--primary);
    display: grid;
    height: rem(70);
    grid-template-columns: rem(200) 1fr rem(200) rem(200);
    align-items: center;
    padding: 0 rem(20);
    position: relative;
}

.headerContainer svg{
    max-width: rem(50);
    max-height: rem(50);
}

.headerContainer a{
    font-family: "Inter", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    color: var(--fg);
    cursor: pointer;
}

.headerContainer a:hover{
    color: var(--btn-hover);
    transition: 0.5s;
}

.gridColumn{
    display: flex;
    align-items: center;
    justify-content: center;
}

.gridColumn svg{
    cursor: pointer;
}

.authButton{
    background: var(--fg);
}

.authButton:hover{
    background: var(--btn-hover-secondary);
    transition: 0.5s;
}

.authButton:hover div svg{
    color: var(--btn-hover-secondary);
    width: 0;
    transition: width 0.5s, color 0.5s;
}

.authButton div{
    display: flex;
    align-items: center;
    gap: 5px;
}

.authButton div svg{
    width: 20px;
    height: auto;
    color: var(--primary);
    transition: width 0.5s, color 0.5s;
}

.authButton div p{
    font-weight: 500;
    color: var(--primary);
}

.paths{
    gap: rem(15);
}

.menu{
    padding: rem(3);
}

.menu svg{
    width: rem(20);
    height: auto;
    color: var(--fg);
}

.mobile{
    display: none;
}


@media (max-width: 700px) {
    .paths{
        display: none;
    }
    .headerContainer{
        display: flex;
        justify-content: space-between;
        gap: rem(15);
    }
    .mobile{
        display: initial;
    }

    .mobileMenu {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: var(--primary);
        z-index: 1000;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        border-radius: 0 0 15px 15px;
    }

    .mobileMenuContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: rem(20);
        gap: rem(15);
    }

    .mobileMenu a,
    .mobileMenu button {
        width: 100%;
        text-align: left;
    }
}
