@use "../../utils/partialStyles/_pxToRem.scss" as *;


.toggle{
    background: var(--fg);
    border-radius: rem(10);
    padding: rem(5) rem(10);
    display: flex;
    gap: rem(10);
}

.toggleButton{
    background: var(--fg);
    color: var(--primary);
    padding: rem(5) rem(20);
    border-radius: rem(10);
}

.toggleButton.selected{
    background: var(--primary);
    color: var(--fg);
}

.toggleButton:hover{
    background: var(--btn-hover-secondary);
    transition: 0.5s;
}

.toggleButton.selected:hover{
    background: var(--btn-hover);
    transition: 0.5s;
}

@media (max-width: 600px) {
    .toggleButton{
        padding: rem(5) rem(7);
    }
    .toggle{
        padding: rem(5) rem(5);
        display: flex;
        gap: rem(5);
    }
}
