@use "../../utils/partialStyles/_pxToRem.scss" as *;

.projectsContainer{
    display: flex;
    flex-direction: column;
    padding: 0 rem(40);
}

.projectsContainer h3{
    font-weight: 700;
}

.project{
    background: var(--primary);
    padding: rem(25) rem(30);
    border-radius: rem(20);
}

.row{
    display: flex;
    gap: rem(50);
}

.col{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: flex-end;
    height: 100%;
    gap: rem(15);
    justify-content: space-between;
}

.description{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 1;
}


.description ul{
    display: flex;
    flex-direction: column;
}

.description li{
    color: var(--fg);
    display: flex;
    align-items: center;
}

.description h5{
    color: var(--fg);
    text-align: center;
}

.description p{
    color: var(--fg);
}

.projectPicture{
    background: var(--fg);
    border-radius: rem(20);
    padding: rem(15);
}

.projectPicture svg{
    width: rem(100);
    height: rem(100);
}

.projectButton{
    background: var(--fg);
    color: var(--primary);
    font-weight: 600;
}

.projectButton:hover{
    background: var(--btn-hover-secondary);
    transition: 0.5s;
}

@media (max-width: 700px) {

    .project{
        padding: rem(15) rem(20);
    }
    .projectsContainer{
        padding: 0 rem(25);
    }

    .row{
        gap: rem(15);
        flex-direction: column;
    }

    .col{
        align-self: flex-end;
    }

    .projectPicture{
        display: none;
    }

    .projectPicture svg{
        width: rem(50);
        height: rem(50);
    }

}
