.tooltipContainer {
  position: relative;
  display: inline-block;
}

.tooltipText {
  visibility: hidden;
  background-color: var(--primary);
  color: var(--fg);
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  top: 105%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  font-size: 14px;

  opacity: 0;
  transition: opacity 0.3s ease;
}

.tooltipContainer:hover .tooltipText {
  visibility: visible;
  opacity: 1;
}