@use 'sass:math';
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap');

:root {
  --bg: #F8F9FF;
  --btn-secondary: #F3F3F3;
  --txt-primary: #1D2546;
  --txt-secondary: #A0AEC0;
  --fg: #FFFFFF;
  --primary: #3E70C7;
  --btn-hover: #9DC3E7;
  --btn-hover-secondary: #F5F5F5;
  --btn-hover-third: #EEF4FF;
  --err-primary: #F64E60;
  --err-secondary: #FFB9C0;
  --err-hover: #FFE3E6;
  --success-primary: #17CB47;
  --success-secondary: #D3FFD3;
  --success-hover: #F2FFF2;
  --input-field: #F1F8FF;
}

* {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%; /* Занимают всю высоту окна */
  margin: 0; /* Убедитесь, что нет отступов по умолчанию */
  padding: 0;
}

.app {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  background: var(--fg);
  overflow-y: auto;
}

.contentContainer{
  width: 100%;
  min-height: 80vh;
  padding: 0 200px;
}

.contentSection{
  width: 100%;
  min-height: 80vh;
}

@mixin fluid-text($max: 48, $min: 16){
  $maxViewportWidth: 1400;
  $minViewportWidth: 360;

  $maxSize: math.div($max, 16);
  $minSize: math.div($min, 16);
  $maxWidth: math.div($maxViewportWidth, 16);
  $minWidth: math.div($minViewportWidth, 16);

  $slope: math.div(($maxSize - $minSize), ($maxWidth - $minWidth));
  $yAxisIntersection: -$minWidth * $slope + $minSize;

  font-size: clamp(
          #{$minSize * 1rem},
          #{$yAxisIntersection * 1rem} + #{$slope * 100vw},
          #{$maxSize * 1rem}
  );
}

h1 { @include fluid-text(40, 28) }
h2 { @include fluid-text(36, 26) }
h3 { @include fluid-text(32, 24) }
h4 { @include fluid-text(28, 22) }
h5 { @include fluid-text(24, 20) }
h6 { @include fluid-text(20, 18) }
p {@include fluid-text(18, 16)}
input {@include fluid-text(18, 16)}
button {@include fluid-text(18, 16)}
body { @include fluid-text(18, 16) }

h1, h2, h3{
  color: var(--primary)
}

h1{
  font-family: "Hind", sans-serif;
}

h2{
  font-family: "Hind", sans-serif;
}

h3{
  font-family: "Inter", sans-serif;
  font-weight: 500;
}

h4{
  font-family: "Inter", sans-serif;
}

button{
  border: none;
  outline: none;
}

button:focus {
  outline: none;
}

.noSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.hrtLine{
  height: 3px;
  width: 100%;
  background: var(--primary);
  border-radius: 3px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.marker {
  margin-right: 10px;
  align-self: center;
}

.title{
  padding: 30px 0 15px 0;
  font-weight: 700;
}

@media (max-width: 600px) {
  .contentContainer{
    padding: 0 20px;
  }
}

