@use "../../utils/partialStyles/_pxToRem.scss" as *;

.contactsContainer{
    display: flex;
    flex-direction: column;
    padding: 0 rem(40);
}

.contactsCard{
    border: rem(3) solid var(--btn-hover);
    border-radius: rem(20);
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    overflow: hidden;
}

.form{
    padding: rem(25) rem(30);
    width: 100%;
}

.form h5{
    font-weight: 700;
    color: var(--primary);
}

.form form{
    display: flex;
    flex-direction: column;
    gap: rem(10);
    align-items: flex-start;
}

.form form input{
    border: none;
    background: var(--input-field);
    padding: rem(10) rem(15);
    border-radius: rem(10);
}

.form form textarea{
    border: none;
    background: var(--input-field);
    padding: rem(10) rem(15);
    border-radius: rem(10);
    width: 100%;
    resize: none;

}

.form form input:focus{
    outline: none;
}

.form form textarea:focus{
    outline: none;
}

.form form button{
    color: var(--fg);
    background: var(--primary);
}

.info{
    background: var(--primary);
    justify-self: flex-end;
    padding: rem(25) rem(30);
}

.col h5{
    color: var(--fg);
}

.contact{
    display: flex;
    gap: rem(10);
    align-items: center;
}

.contact svg{
    width: rem(50);
    height: rem(50);
}

.divider{
    height: rem(3);
    width: 100%;
    margin: rem(20) 0;
    padding: 0 rem(20);
    background: var(--fg);
    border-radius: rem(25);
}

.socialsRow{
    display: flex;
    gap: rem(10);
}

@media (max-width: 700px) {
    .contactsContainer{
        padding: 0 rem(25);
    }
    .contactsCard{
        flex-direction: column;
    }
}