@use "../../../utils/partialStyles/_pxToRem.scss" as *;

.passwordContainer {
  width: 100%;
  padding: rem(8);
  border-radius: rem(5);
  background: var(--fg);
  display: flex;
  justify-content: space-between;
}

.textInput{
  color: var(--txt-active);
  border: none;
  outline: none;
  background: var(--fg);
}

.eyeIcon svg{
  stroke: var(--txt-secondary);
}